@media (max-width:1200px) {

}

@media (max-width:991px) {
    /* Header */
    .navbar-toggler {
        border: none !important;
        outline: none !important;
    }

    header .navbar .nav-link {
        margin-right: 0px;
    }

    /*===== HOME PAGE =======*/
    /* Counter */
    .counter_card {
        margin: 5px auto;
        justify-content: center;
    }

    .counter_card img {
        width: 70px;
    }

    .counter_card .counter_detail h2 {
        font-size: 24px;
    }

    .counter_card .counter_detail h4 {
        font-size: 20px;
    }


}
@media (max-width:768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    /* header */
    header .navbar-brand img {
        height: 60px;
    }

    /* banner */
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
}

@media (max-width:480px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }


    /* Header start */
    .navbar-collapse {
        padding: 10px;
    }

    header .navbar .nav-link {
        margin-top: 7px;
    }

    /* Welcome Section */
    .welcome_sec h2 {
        font-size: 30px;
    }

    /*======= OUR PRODUCT PAGE ====*/
    #our_product h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }


    /*======== APPLICATION PAGE =======*/
    #application_sec h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    /*====== CONTACT US PAGE ========*/
    #contact_us h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .contact_form button {
        padding: 8px;
    }

}
@media (max-width:320px) {
    /* Header */
    header .navbar-brand img {
        height: 50px;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
        border: none;
    }

    /*===== HOME PAGE =======*/
    /* Counter */
    #counter_sec {
        padding: 50px 0 20px 0;
    }

    .counter_card img {
        width: 50px;
    }

    .counter_card .counter_detail h2 {
        font-size: 20px;
    }

    .counter_card .counter_detail h4 {
        font-size: 18px;
    }
}
